<div class="row">
  <div class="span9 search">
    <h4>DISCOVER BITCOIN USERS</h4>
    <%= form_tag map_path, :method => 'post' do %>
      <%= text_field_tag :user_name, nil, :placeholder => "Search by category (e.g. restaurants, shopping, games)" %> <br />
      <%= button_tag "Search", :name => "user_search", :class => "btn btn-primary" %>
    <% end %>
  </div>
</div>