<div class="row">
  <div class="span3">
    <h4>Name</h4>
  </div>

  <div class="span3">
    <h4>edit profile</h4>
  </div>

  <div class="span3">
    <h4>view profile</h4>
  </div>

  <div class="span3">
    <h4>Inbox</h4>
  </div>

  <div class="span3">
    <h4>My network</h4>
  </div>

  <div class="span3">
    <h4>Bitcoin address</h4>
  </div>

  <div class="span3">
    <p>New York, NY</p>
    <p>Twitter @johndoe</p> <br />
    <p>phone</p> <br />
    <p>Company</p> <br />
    <p>Category?(news and media)</p> <br />
    <p>job title</p>
  </div>
</div>  
