<div class="span3 recent-users-dashboard">
  <h4>New Bit Pages Members</h4>
  <% @new_members.each do |member| %>
    <div class="each-member">
      <div class="row">
        <div class="span1">
          <%= image_tag(member.avatar.url) if member.avatar.url.present? %>
        </div>
        <div class="span1">
          <h5><%= member.name %></h5>
          <p>ZipCode: <%= member.zip_code %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>






