<div class="span3 recent-users-dashboard">
  <h4>New Bit Pages Members</h4>
  <% @new_members.each do |member| %>
    <div class="each-member">
      <div class="row">
        <div class="span1">
          <% if member.avatar.url.present? %>
            <%= link_to image_tag(member.avatar.url), user_path(member)  %>
          <% end %>
        </div>
        <div class="span1">
          <h5><%= link_to member.name, user_path(member) %></h5>
          <p>ZipCode: <%= member.zip_code %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>






