<h2>Your Friends</h2>
<ul>
  <% @user.user_friendships.each do |user_friendship| %>
  <li>
    <%= user_friendship.user_friend.name %>
    (<%= link_to "remove friend", user_friendship, :method => :delete %>)
  </li>
  <% end %>  
</ul>