<h2>Your MerchantFriends</h2>
<ul>
  <% @merchant.merchant_friendships.each do |merchant_friendship| %>
  <li>
    <%= merchant_friendship.merchant_friend.name %>
    (<%= link_to "remove friend", merchant_friendship, :method => :delete %>)
  </li>
  <% end %>  
</ul>