<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<% for user in @users %>
  <div class="user">
    <p>
      <strong><%=h user.name %></strong>
      <%= link_to "Add Friend", user_friendships_path(:user_friend_id => user), :method => :post %>
      <div class="clear"></div>
    </p>
  </div>
<% end %>
