<div class="row" style="border: 1px solid black; padding: 20px;" >

<!-- Left box -->
  <div class="span6" style="border: 1px solid red;">
    <div class="row">
      <div class="span6 logo">Bit Pages Logo</div>
      <div class="span6">
        <h4>Lorem ipsum dolor sit amet</h4>
      </div>
      <div class="span3">
        <h3>Merchants</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, quae, ratione mollitia delectus hic illo harum neque rerum quo quisquam tempore quas id alias voluptas ex! Unde maxime architecto eos.</p>
      </div>

      <div class="span3">
        <h3>Individuals</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, fuga placeat provident aperiam soluta autem magni sapiente similique iste molestiae nemo itaque assumenda necessitatibus. Itaque aspernatur asperiores expedita fugiat excepturi.</p>
      </div>

<!-- User registration and login buttons below -->
      <div class="span3">
        <div style="background: orange;">Claim your page BUTTON</div>
      </div>
      <div class="span3">
        <div style="background: orange;">Sign Up BUTTON</div>
      </div>
      <div class="span6 sign-in">
        <p>Already a member?</p>
        <div style="background: gray;">Sign In</div>
    </div>

    </div>
  </div>

<!-- Right box -->
  <div class="span6" style="border: 1px solid blue;">
    <div class="row">
      <div class="span2">Level right-a</div>
      <div class="span2">Level right-b</div>
      <div class="span2">Level right-c</div>
    </div>
  </div>  
</div>


<!-- !!! ADD MERCHANT STORE VIEW: Merchants recently listed; generate view with rails/jquery -->
<div class="row merchants-list">
  <div class="span12">
    <h3>Merchants recently listed on Bit Pages</h3>
    <div class="row">
      <div class="span4 merchant">
        <h5>Merchant name A</h5>
        <p>Category</p>
        <p>Address A</p>
      </div>
      <div class="span4 merchant">
        <h5>Merchant name B</h5>
        <p>Category</p>
        <p>Address B</p>
      </div>
      <div class="span4 merchant">
        <h5>Merchant name C</h5>
        <p>Category</p>
        <p>Address C</p>
      </div>
    </div>
  </div>
  <!-- Fillers for now; fix later with frontend js-->
 

</div>


