<%= render "layouts/logo.html.erb" %>

<div class="all-merchants">
  <p>Listed Merchants on Bitpages</p>
</div>
<div class="offset1">
  
  <div class="span4 recent-merchants-dashboard" >
    <%= render "dashboard/merchant_list.html.erb" %>
  </div>
</div>
