<%= render "layouts/logo.html.erb" %>

<div class="all-merchants">
  <p>Listed Merchants on Bitpages</p>
</div>
<div class="offset1">
  
  <% @merchants.each do |merchant| %>
    <div class="merchant">
      <p>
        <strong><%= merchant.bname %></strong>
        <% if current_merchant_profile.present? %>
          <% unless current_merchant_profile.merchant.merchant_friendships.include?(MerchantFriendship.where(:merchant_id => current_merchant_profile.merchant.id, :merchant_friend_id => merchant.id).first) %>
          <%= link_to "Add to Network", merchant_friendships_path(:merchant_friend_id => merchant), :method => :post %>
          <% else %>
            <i>Already Added!</i>
          <% end %>
        <% else %>
          <% unless current_user.user_merchant_friendships.include?(UserMerchantFriendship.where(:merchant_id => merchant.id, :user_id => current_user.id).first) %>
            <%= link_to "Add to Network", user_merchant_friendships_path(:merchant_id => merchant.id), :method => :post %>
          <% else %>
            <i>Already Added!</i>
          <% end %>
        <% end %>
        
        <div class="clear"></div>
      </p>
    </div>
  <% end %>
</div>
