<h1>merchants#index</h1>

<% @merchants.each do |merchant| %>
  <div class="merchant">
    <p>
      <strong><%=h merchant.bname %></strong>
      <!-- unless current_merchant_profile.merchant.merchant_user_friendships.include?(MerchantUserFriendship.where(:user_id => user.id, :merchant_id => current_merchant_profile.merchant.id).first) -->

      <% unless current_merchant_profile.merchant.merchant_friendships.include?(MerchantFriendship.where(:merchant_id => current_merchant_profile.merchant.id, :merchant_friend_id => merchant.id).first) %>
        <%= link_to "Add Friend", merchant_friendships_path(:merchant_friend_id => merchant), :method => :post %>

      <% else %>
        <i>Already Added!</i>
      <% end %>

      
      <div class="clear"></div>
    </p>
  </div>
<% end %>
