// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.google-map-box {
  height: 320px;
  width: 100%;
  border: 1px solid black;
}

.recent-merchants, .recent-merchants-dashboard, .recent-users-dashboard {
  img {
    height: 80px;
    width: 80px;
  }
}

.recent-merchants-dashboard {
  .each-merchant {
    border: 1px solid #D9D9D9;
    margin-bottom:0;
    
    img {
      height: 60px;
      width: 60px;
    }

    p, h5 {
      margin: 0 0;
    }

    .bname {
      p:first-child {
        font-weight: bolder;
      }
    }

    .address {
      text-align: right;
      margin-right:0;
    }
  }
}

.recent-users-dashboard {
  .each-member {
    border: 1px solid #D9D9D9;
    margin-bottom: 0;

    img {
      height: 60px;
      width: 60px;
    }

    p, h5 {
      margin: 0 0;
    }
  }
}

#bitcoin-id {
  margin-left: 23px;
}

