// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notice {
  border: 1px solid red;
  font-style: italic;
  font-size: 20px;
}

#user_nav {
  float: right;
  padding-top: 12px;
  padding-right:20px;
}

.google-map-box {
  height: 320px;
  width: 100%;
  border: 1px solid black;
}

.unregistered-search .google-map-box {
  margin-top: 20px;
  height: 500px;
}

.recent-merchants, .recent-merchants-dashboard, .recent-users-dashboard {
  margin-left: 0;
  img {
    height: 80px;
    width: 80px;
  }
}

.recent-merchants-dashboard {
  .each-merchant {
    border: 1px solid #D9D9D9;
    margin-bottom:0;
    
    img {
      height: 60px;
      width: 60px;
    }

    p, h5 {
      width: 280px;
      margin: 0 0;
    }

    .bname {
      p:first-child {
        font-weight: bolder;
      }
    }

    .address {
      width: 240px;
      text-align: left;
      margin-right:0;
    }
  }
}

.recent-users-dashboard {
  .each-member {
    border: 1px solid #D9D9D9;
    margin-bottom: 0;

    img {
      height: 60px;
      width: 60px;
    }

    p, h5 {
      margin: 0 0;
    }
  }
}

.nearby-merchants {
  .each-merchant {
    margin-bottom: 0;
    border: 1px solid #D9D9D9;

    p, h5 {
      margin: 0 0;
    }
    
    .overlay {
      width: 20px;
    }
  
    .bname {
      width: 100px;
    }

    .address {
      width: 180px;
    }

  }
}


#bitcoin-id {
  margin-left: 23px;
}

#right-box {
  .notice {
    margin-left: 46px;
    margin-bottom: 10px;
  }
}

.display-hide {
  display: none;
}

button#user-search {
  color: #0088cc;
  background:none; 
  border:none; padding:0;
  font-weight:bold; 
  text-decoration: underline;
  width: 220px;
  margin: 0 auto;
}

button#user-search:hover {
  color: #005580;
}

