// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.google-map-box {
  height: 320px;
  width: 100%;
  border: 1px solid black;
}

.recent-merchants, .recent-merchants-dashboard, .recent-users-dashboard {
  img {
    height: 80px;
    width: 80px;
  }
}

.profile {
  border-right: 2px solid #d9d9d9;
}