// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
  img {
    margin-left: 40px;
  }
  p {
    font-size: 22px;
    line-height: 27px;
    // text-align: center;
  }
}

.sign-in {
  // margin: 0 auto;
  text-align: center;
}

.merchants-list {
  // border: 1px solid black;
  padding-left: 45px;
  .recent-merchant {
    height: 80px;
    margin-left: 0;
    width:400px;
    border: 1px solid #D9D9D9;
    padding: 0;

    img {
      margin: 2px 2px;
      height: 74px;
      border: 1px solid #D9D9D9;
      -webkit-box-shadow: 2px 2px 3px rgba(50, 50, 50, 0.75);
      -moz-box-shadow:    2px 2px 3px rgba(50, 50, 50, 0.75);
      box-shadow:         2px 2px 3px rgba(50, 50, 50, 0.75);
    }

    #box1 {
      width: 100px;
      float: left;

    }

    #box2 {
      width: 100px;
      float: left;

    }

    #box3 {
      width: 100px;
      float: left;

    }
  }
}

.discover-merchants {
  background: yellow;
}

.google-map {
  height: 300px;
  width: 300px;
}

footer {
  text-align: center;
} 

.sign-in-button input[type=submit] {
    width: 82%;
}

#right-box {
  background: #E9E9E9;
  margin-bottom: 10px;
  padding: 8px;
  text-align:center;
}

#right-box {
  input {
    width: 80%;
  }

  h4 {
    text-align: left;
    margin-left: 44px;
  }
}

#leftside-profile {
  .profile-btn {
    width: 120px;
    margin: 0 0;
  }
}

footer {
  margin-top: 200px;  
}